<h1>Agent <%= @agent.id %></h1>
Name: <%= @agent.name %><br/>
<%= link_to "Add new contact", new_agent_contact_path(@agent) %>

<%= render "set_default" %>
<br/>
<%= render "show_contacts" %>

<%= link_to "Edit", edit_agent_path(@agent) %>
<%= link_to "Delete", agent_path(@agent), method: :delete, data: { :confirm => "Are you sure?" } %>
<%= link_to "Back to agent list", agents_path %>
