<div id="contact_form">
  <%= form_for [@agent, @contact] do |f| %>
    <% if @contact.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @contact.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :tel %>
      <%= f.text_field :tel %>
    </p>
    <p>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </p>
    <%= f.submit %>
  <% end %>
</div>
